@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

*{
    margin: 0px;
    padding: 0px;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    width: 100%;
    height: 100%;
}

/* navigation bar */
header {
    background-color: #333;
    padding: 10px 0;
  }
  
  nav.main_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  nav.main_menu h1 {
    margin: 0;
  }
  
  nav.main_menu h1 a {
    color: white;
    text-decoration: none;
  }
  
  ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  ul.navbar li {
    margin-right: 10px;
  }
  
  ul.navbar li:last-child {
    margin-right: 0;
  }
  
  ul.navbar li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  ul.navbar li a:hover {
    background-color: #555;
  }

/*section*/
section{
    position: absolute;
    left: 0;
    top: 92.2px;
    width: calc(100% - 20px);
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

section #buttons{
    display: flex;
    justify-content: left;
}

section #button_cover{
    display: flex;
    justify-content: center;
}

/*교내활동 버튼*/
section #internal_button{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #333;
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 10px;
    border: 2px solid #333;
    width: 200px;
    height: 25px;
}

/*교외활동 버튼*/
section #external_button{
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #FFF;
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 10px;
    border: 2px solid #333;
    width: 200px;
    height: 25px;
}

section #buttons_bot{
    display: flex;
    justify-content: right;
}


/*검색창*/
.search_wrapper {

    display: flex;
    flex-direction: row; /*column*/
    align-items: center;
    justify-content: center;

}

#name, #submit_button{
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #FFF;
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 10px;
    border: 1px solid #333;

}
#name {
    width: 300px;
    height: 20px;
}  

#submit_button {
    width: 50px;
    height: 32px;
}  

.invisible{
    display: none;
}


#suggestion_box {
    margin-top: 1px;
    background: white;
    padding: 0 10px;
    border: 1px solid black;
}

#suggested_items{
    font-family: 'Roboto', sans-serif;
    color: #333;
    height:100px;
    width: 250px;
    overflow: auto; /* 스크롤바 추가 */
}

/* 마우스 올리면 색 변화 */
.item:hover{
    color: #fff;
    background-color: darkorange;
}


/*write new 버튼*/
section #write_button{
    font-family: 'Roboto', sans-serif;
    color:  #333;
    background-color: #FFF;
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 20px;
    margin-left: 10px;
    border: 2px solid  #333;
    width: 200px;
    height: 25px;
}

section table{
    border-collapse: collapse;
    border: 1px solid grey;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

section table td{
    border-top: 1px solid grey;
    color: black;   
}

section table th{
    background-color: grey;
    color: white;  
    font-weight: lighter;
}

section table #no{
    width: 100px;
    height: 40px;
}

section table #title{
    width: 660px;
    height: 40px;
}

section table #title a{
    color: inherit;
}

section table #category{
    width: 250px;
    height: 40px;
}

section table #date{
    width: 250px;
    height: 40px;
}

section table #views{
    width: 150px;
    height: 40px;
}

/*footer*/
footer{
    width: 100%;
    height: 50px;
    background-color: #F3F3F3;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer .inner{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 5px;
    color: #666;
}

footer .inner #tel{
    padding-top: 15px;
    margin-bottom: 0;
}

footer .inner #copyright{
    margin-top: 2px;
}
