@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

*{
    margin: 0px;
    padding: 0px;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    /*width: 100%;
    height: 100%;*/
    margin: 0;
}


/* navigation bar */
header {
    background-color: #333;
    padding: 10px 0;
  }
  
  nav.main_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 0; /* nav_bar와 main_banner 사이 margin을 0으로 설정 */
  }
  
  nav.main_menu h1 {
    margin: 0;
  }
  
  nav.main_menu h1 a {
    color: white;
    text-decoration: none;
  }
  
  ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  ul.navbar li {
    margin-right: 10px;
  }
  
  ul.navbar li:last-child {
    margin-right: 0;
  }
  
  ul.navbar li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  ul.navbar li a:hover {
    background-color: #555;
  }

  
/* main_banner */
  figure.main_banner img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 0;
  }



section{
    position: absolute;
    left: 0px;
    top: 455px;
    float: left;
    width: 1319px;
    height: 450px;
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    align-items: flex-start; /* 상단 정렬 */;
    
}

section{
    width: 100%;
    padding: 30px 0px;
    font-family: 'Roboto', sans-serif;
    justify-content: space-evenly;
    text-align: left;
}

section article .main_notice{
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
}


section article .main_notice .wrap{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
}



/*section 부분 주황그림3개*/
section article .main_popworks .wrap{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 10px; /* 그림간에 간격 설정 */
}

section article .main_popworks .wrap .pic{
    width: 240px;
    height: 260px;
    float: center;
    box-shadow: 2px 2px 2px #A0A0A0;
    transition: all 0.5s;
}
section article .main_popworks .wrap .pic:hover{/*그림에 마우스 갖다댔을 때*/
    width: 250px;
    height: 260px;
    float: left;
    box-shadow: 2px 2px 2px #A0A0A0;
}

section article .main_popworks .wrap .pic:last-child{
    margin-right: 0px;
}


section article .main_popworks .wrap .pic img{ /*그림자체*/
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/*세로 구분선*/
.vertical-line {
    border-left: 1px solid black;
    height: 200px;
    margin: 0 20px; /* 세로 구분선의 좌우 여백 조절 */
  }

/* footer */
footer{
    width: 100%;
    height: 50px;
    background-color: #F3F3F3;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer .inner{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 5px;
    color: #666;
}

footer .inner #tel{
    padding-top: 15px;
    margin-bottom: 0;
}

footer .inner #copyright{
    margin-top: 2px;
}
